docker.enabled = true


profiles {
    github {
        process.cpus = 2
        process.memory = "6.5G"
    }

   server {
       process.cpus = 24
       process.memory = "58G"
   }
}

process {
    container = 'theoaphidian/wgs-illumina'
}

params {
    outdir = './results'
    sampleDatabase = "${projectDir}/database"
    runName = "run01"
    samplesheet = "data/samplesheet.csv"
    gunc_db = null
    gtdb_db = null
    mash_db = null
    bakta_db = null
}
