docker.enabled = true


profiles {
    github {
        process.cpus = 2
        process.memory = "6.5G"
    }

   server {
       process.cpus = 24
       process.memory = "58G"
   }
}

process {
    container = 'theoaphidian/wgs-illumina'
}

params {
    outdir = './results'
    sampleDatabase = "${projectDir}/database"
    runName = "run01"
    samplesheet = "data/samplesheet.csv"
    gunc_db = "/mnt/b/seqdata/illumina_wgs/data/reference_genomes/gunc_db_progenomes2.1.dmnd"
    gtdb_db = "/mnt/b/seqdata/illumina_wgs/data/reference_genomes/gtdbtk-databases/release207_v2"
    mash_db = "/mnt/b/seqdata/illumina_wgs/data/reference_genomes/gtdbtk-databases/mdb.msh"
    bakta_db = "/mnt/b/seqdata/illumina_wgs/data/annotation/db"
}
