docker.enabled = true


profiles {
    github {
        process.cpus = 2
        process.memory = "6.5G"
    }

   server {
       process.cpus = 24
       process.memory = "32G"
   }
}

process {
    container = 'theoaphidian/wgs-illumina'
}

params {
    outdir = './results'
    sampleDatabase = "${projectDir}/database"
    runName = "run01"
}
